body {
  font-family: Quicksand, Arial, sans-serif;
  margin: 20px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f9;
}
.form-container {
  width: 100%;
  max-width: 600px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: white;
}
h2 {
  color: #007BFF;
  text-align: center;
}
table{
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f9;
}
.detail-container {
  width: 100%;
  max-width: 600px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: white;
}
h2 {
  color: #007BFF;
  text-align: center;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
table th, table td {
  border: 1px solid black;
  padding: 10px;
  text-align: left;
}
table th {
  background-color: #007BFF;
  color: white;
}
.btn-back {
  display: inline-block;
  background-color: #007BFF;
  color: white;
  text-decoration: none;
  border: none;
  text-align: center;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  padding: 10px 0 10px 0;
}
.btn-back:hover {
  background-color: #0056b3;
}
.btn-submit {
  display: inline-block;
  background-color: #007BFF;
  color: white;
  text-decoration: none;
  border: none;
  padding: 10px;
  text-align: center;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}
.btn-submit:hover {
  background-color: #0056b3;
}
.delivery-options, .payment-options {
 display: flex;
  justify-content: space-around;
  margin: 20px 0;
}
.delivery-options label, .payment-options label {
  text-align: center;
}
.delivery-options img, .payment-options img {
  width: 100px;
  border-radius: 10px;
}
input[type="radio"] {
  display: none;
}
input[type="radio"]:checked + img {
  border: 2px solid #007BFF;
}